@import "tailwindcss";
:root {
  
    --white: #FFFFFF;
    --black: #000000;

    --blue: #1125D6;
    --light-blue: #F3F4FD;

    --yellow: #FFB21E;
    --light-yellow: #FFF6B2; 

    --red: #FF5555;
    --light-red: #FFF6F6;

    --green: #00BB8F;
    --light-green: #F2FCF9;

    --gradient-blue: linear-gradient(90deg, #4D21C9 0%, #2521C9 100%);
    --gradient-dark-blue: linear-gradient(180deg, #7755FF 0%, #2521C9 100%);
}

/* Text1 */
.text-preset-1 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 800; 
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0px;
    
}

/* Text2 */
.text-preset-2 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 800; 
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0px;
}

/* Text3 */
.text-preset-3 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0px;
}

/* Text4*/
.text-preset-4 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700; 
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0px;
}

/* Text5 */
.text-preset-5-bold {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0px;
}

/* Text6 */
.text-preset-5-medium {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500; 
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0px;
}

/* Text6 Bold*/
.text-preset-6-bold {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700; 
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0px;
}

/* Text6 Medium */
.text-preset-6-medium {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500; 
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0px;
}
